/* VARIABLES DE CONAVRE */
:root {
    --azul-marca: #007bff;
    --azul-oscuro: #0056b3;
    --gris-fondo: #f9f9f9;
    --gris-texto: #555;
    --negro-texto: #333;
    --fuente-base: 'Inter', sans-serif;
  }
  